.col-sm-11.col-xs-12.blog-content
  h2.text-center
    = @post.title
  h5.text-center
    = render 'posts/tag_list', tag_list: @post.tag_list
  h5.text-center
    = @post.created_at.strftime('%b %d, %Y')
  h5.text-center
    = link_to 'Edit', edit_post_path(@post)
  h5.text-center
    = link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }
  div
    = raw @post.body